.categories-icon-wrp {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
}
/* MODAL BLACK */
.modal-1 {
    position: relative;
    z-index: 1;
    /* width: 400px; */
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #262626;
    border-radius: 16px;
    background-color: #171717;
}
/* Font Family & Smoothing */
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: 'kern';
    -moz-osx-font-smoothing: grayscale;
}

/* KUSTOM WINDOW */
    .cc-window {
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        font-family: 'Söhne-buch', sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.14px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-right: 50px !important;
        padding-left: 24px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        z-index: 200;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0.08);
        border-radius: 16px !important;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .24);
        background-color: #171717 !important;
        border: 1.5px solid rgba(38, 38, 38, 0.5) !important;
        color: #fff !important;
    }

    .cc-btn {
        position: absolute;
        left: auto;
        top: 8px;
        right: 8px;
        bottom: auto;
        width: 24px;
        height: 24px;
        margin-top: auto;
        margin-bottom: auto;
        border: 1.5px solid #4a4a4a !important;
        border-radius: 50%;
        background-color: #404040 !important;
        background-image: url(svg/cookie-close-white.svg);
        background-position: 50% 50%;
        background-size: auto;
        background-repeat: no-repeat;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }

    .cc-link {
        display: inline-block;
        border-bottom-style: none;
        font-family: 'Söhne-buch', sans-serif;
        color: #fff !important;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.14px;
        text-decoration: none !important;
        opacity: 1;
        padding: 0em;
    }

    .cc-link:active,
    .cc-link:hover,
    .cc-link:visited {
        text-decoration: underline !important;
    }

    .cc-banner.cc-bottom {
        bottom: 8px !important;
        left: 8px !important;
        width: 320px !important;
    }

    .cc-message {
        margin-bottom: 0em !important;
    }

    @media screen and (max-width: 479px) {
        .cc-banner.cc-bottom {
            bottom: 0px !important;
            left: 0px !important;
            width: 100% !important;
        }

        .cc-window {
            padding-bottom: 20px !important;
            border-radius: 0px !important;
        }

    }
/* END KUSTOM WINDOW */

/* Selection Color */
    ::-moz-selection {
        background-color: #ffbe5c;
        color: #472b00;
    }

    ::selection {
        background-color: #ffbe5c;
        color: #472b00;

    }
/* END Selection Color */

/* Slider Dots */
    .w-slider-dot {
        width: 6px;
        height: 6px;
        background-color: #404040;

    }

    .w-slider-dot.w-active {
        width: 6px;
        height: 6px;
        background-color: #ffffff;

    }

/* Frosted Glass Nav */
    .nav-wrp-1 {
        -webkit-backdrop-filter: saturate(100%) blur(16px);
        backdrop-filter: saturate(100%) blur(16px);
    }

    @-moz-document url-prefix() {
        .nav-wrp-1 {
            background-color: rgba(23, 23, 23, 0.96);
        }
    }

    .nav-menu {
        -webkit-backdrop-filter: saturate(100%) blur(16px);
        backdrop-filter: saturate(100%) blur(16px);
    }

    @-moz-document url-prefix() {
        .nav-menu {
            background-color: rgba(18, 18, 18, 0.96);
        }
    }

    .progress-bar {
        -webkit-backdrop-filter: saturate(100%) blur(16px);
        backdrop-filter: saturate(100%) blur(16px);
    }

    @-moz-document url-prefix() {
        .nav-menu {
            background-color: rgba(224, 224, 224, 0.96);
        }
    }

    .progress-indicator {
        -webkit-backdrop-filter: saturate(100%) blur(16px);
        backdrop-filter: saturate(100%) blur(16px);
    }

    @-moz-document url-prefix() {
        .nav-menu {
            background-color: rgba(255, 153, 0, 0.96);
        }
    }
/* END Slider Dots */

/* iPad Landscape Articles Page */
    @media screen and (max-width: 1366px) and (min-width: 769px) {

        .post-body-wrp {
            display: block;
            width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        .post-wrp-3 {
            display: none;
        }

        .post-wrp-4 {
            width: 100%;
            margin-bottom: 80px;
        }

        .post-wrp-5 {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        .post-subscribe-divider {
            display: none;
        }

        .post-subscribe-txt-2 {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .post-img-sub {
            left: 0%;
            width: 100%;
        }
    }
/* END iPad Landscape Articles Page */

.cms-card-1:hover .cms-card-hd-1 {
    text-decoration: underline;
}
input {
    caret-color: #ff9900;
}